Help Type: command
Command: spinedigest get

get

Purpose:
  Read one Wiki Graph object by URI.

Usage:
  spinedigest get <archive.sdpub> <uri> [--json|--jsonl] [--help|-h]

Examples:
  spinedigest get book.sdpub wikigraph://chunk/123
  spinedigest get book.sdpub wikigraph://source/chapter/1#42..60
