Help Type: topic
Topic: index

Help Topics

Purpose:
  These pages explain SpineDigest by problem domain rather than by one specific command.

Available topics:
{% for topic in helpTopics %}
  - wikigraph help {{ topic.name }}
    {{ topic.summary }}
{% endfor %}

Command help:
  - wikigraph --help
  - wikigraph help object
  - wikigraph help verb
  - wikigraph help matrix
  - wikigraph wikg://book.wikg --help
  - wikigraph wikg://book.wikg/cover --help
  - wikigraph wikg://book.wikg/chapter --help
  - wikigraph wikg://book.wikg/chapter/tree --help
