Help Type: topic
Topic: index

Help Topics

Purpose:
  These pages explain SpineDigest by problem domain rather than by one specific command.

Available topics:
{% for topic in helpTopics %}
  - wikigraph help {{ topic.name }}
    {{ topic.summary }}
{% endfor %}

Command help:
  - wikigraph --help
  - wikigraph help object
  - wikigraph help verb
  - wikigraph help matrix
  - wikigraph wkg://book.wikg/ get --help
  - wikigraph wkg://book.wikg/cover get --help
  - wikigraph wkg://book.wikg/chapter list --help
  - wikigraph wkg://book.wikg/chapter/tree get --help
