Help Type: topic
Topic: task

Task Routing

Create:
  wikigraph create book.sdpub ./book.md

Generate:
  wikigraph queue add book.sdpub --chapter 3 --task reading-graph --accept-cost
  wikigraph queue add book.sdpub --chapter 3 --task reading-summary --accept-cost
  wikigraph queue add book.sdpub --chapter 3 --task knowledge-graph --accept-cost

Explore:
  wikigraph search wikigraph:///Users/me/book.sdpub "keyword"
  wikigraph list wikigraph:///Users/me/book.sdpub/chapter/3 --type entity
  wikigraph get wikigraph:///Users/me/book.sdpub/<object-path>
  wikigraph related wikigraph:///Users/me/book.sdpub/<object-path>
  wikigraph evidence wikigraph:///Users/me/book.sdpub/<object-path>
  wikigraph pack wikigraph:///Users/me/book.sdpub/<object-path> --budget 5000
