Help Type: topic
Topic: task

Task Routing

Create:
  wikigraph create book.sdpub ./book.md

Generate:
  wikigraph queue add book.sdpub --chapter 3 --task reading-graph --accept-cost
  wikigraph queue add book.sdpub --chapter 3 --task reading-summary --accept-cost

Explore:
  wikigraph search book.sdpub "keyword"
  wikigraph get book.sdpub <uri>
  wikigraph related book.sdpub <uri>
  wikigraph evidence book.sdpub <uri>
  wikigraph pack book.sdpub <uri> --budget 5000
