Help Type: command
Command: {{ commandName }} legacy

Purpose:
  Expose the single `.sdpub` upgrade command.

Usage:
  {{ commandName }} legacy migrate <path.sdpub> [--output <path.wikg>]

Commands:
  migrate    Convert an `.sdpub` archive into the current `.wikg` format.

Examples:
  {{ commandName }} legacy migrate ./book.sdpub
  {{ commandName }} legacy migrate ./book.sdpub --output ./book.wikg

See Also:
  {{ commandName }} legacy migrate --help
  {{ commandName }} help format
